<p id="notice"><%= notice %></p>

<p>
  <strong>Price:</strong>
  <%= @market_product.price %>
</p>

<%= link_to 'Edit', edit_market_product_path(@market_product) %> |
<%= link_to 'Back', market_products_path %>
